/*Global*/

.body {
margin: 0;
}

/*Navigation*/

.navigation {
    background-color: aquamarine;
}

.navigation .container {
    display: inline-block;
}

.navigation li {
    display: inline-block;
    padding-left: 10px;
}